* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Lora", serif;
}

/*Reference for font styling*/
.lora-font {
  font-family: "Lora", serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

/* Splash Page CSS */
#splashpage {
    background-color: #C2C5AA;
    padding: 50px;
    color: #333D29;
}

/*Top Nav Bar*/
#splashpage nav {
    display: flex;
    font-size: 18px;
    flex-direction: row;
    justify-content: space-between;
}

.rightHandNav {
    display: flex;
    gap: 50px;
}

.rightHandNav a:hover {
    color: rgba(255, 255, 255, 0.7);
}

.logo {
    display: flex; 
    flex-direction: row;
    gap: 20px;
    align-items: center;
    justify-content: center;
}

.logo h1 {
    font-size: 30px;
    font-weight: normal;
}

/*Main Body*/

#splashpageBody {
    display: grid;
    grid-template-columns: repeat(16, 1fr);
    grid-template-rows: repeat(8, 12.5%);
    height: 85vh;
}

.bigtext {
    grid-column: 1 / 10;
    grid-row: 2 / 5;
    font-size: 90px;
    text-align: center;
    justify-content: center;
}

#emailEntry {
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 10px;
    grid-row: 5 / 7;
    grid-column: 2 / 9;

    padding: 20px;
    
}

#emailEntry input {
    border-width: 2px;
    background-color: rgba(255, 255, 255);
    border: 2px solid #333D29;
    border-radius: 5px 0px 0px 5px;
    height: 50px;
    width: auto;
}

#emailEntry button {
    border-width: 2px;
    background-color: rgba(255, 255, 255);
    border-top: 2px solid #333D29;
    border-right: 2px solid #333D29;
    border-bottom: 2px solid #333D29;
    border-radius: 0px 5px 5px 0px;
    height: 50px;
}

.bookImage {
    grid-row: 2 / 8;
    grid-column: 9 / 17;
    width: auto;
    height: 650px;
}

#splashLinkNav {
    display: flex; 
    flex-direction: row;
    gap: 20px;
    align-items: flex-end;
    grid-row: 8 / 9;
    grid-column: 1 / 4;
}

/*login/register CSS*/
#login {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 15px;
    background-color: #CACAE4;
    border-radius: 10px;
    color: #1D0338;
    height: 100vh;
}

#login input {
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 3px;
}

#login button{
    background-color:#9181B3;
    border-radius:5px;
    padding-left: 5px;
    padding-right: 5px;
    cursor:pointer;
}

#login button:hover{
    color: rgba(255, 255, 255, 0.7);
    transform: scale(1.1);
}

.loginForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5px;
    font-size: 15px;
}

.signUpHover:hover {
    color: rgba(255, 255, 255, 0.7);
}

/*  */
/* Homepage CSS */
/*  */
#homepage {
    background-color: #C2C5AA;
}

#homeTopbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#homeTopbar nav {
    display: flex;
    flex-direction: row;
    gap: 10px;
    background-color: #9181B3;
    color: #1D0338;
    padding: 5px 10px 5px 10px;
    border-radius: 0px 0px 0px 5px;
    margin-bottom: 20px;
}

#homeTopbar nav div:hover {
    color: white;
}

.searchbar {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 50px;
}

.searchbar input {
    background-color:rgba(255, 255, 255, 0.7);
}

/* Main Homepage Body */

#homefeed {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 4fr 4fr 1fr 1fr 2fr;
    background-color: #C2C5AA;
}

#homeCenter {
    grid-column: 3 / 7;
}

#homehero {
    border-radius: 30px;
}

/* Reviews Styling */

.review-feed {
    background-color: rgba(255, 255, 255, 0.6);
    padding: 20px;
    margin: 20px;
    border-radius: 10px;
}

#review-section-label {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#review-section-label h2 {
    font-weight: normal;
}

.reviewBody {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    margin: 20px;
}

.reviewTopBar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.booklist {
    grid-column: 1 / 2;
}

.book-feed {
    grid-column: 1 / 2;
}

/*Profile Styling*/
#profile {
    background-color: #5E3932;
    height: 100vh;
    padding: 100px;
    display: grid;
    gap: 20px;
    grid-template-columns: 50% 50%;
    grid-template-rows: 90% 10%;
}

#profileCreator {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    display: flex;
    flex-direction: column;
    background-color: #DFBB7D;
    border-radius: 10px;
    padding: 20px;
}

.profileDisplay {
    grid-row: 1 / 2;
    grid-column: 2 / 3;
}

#profileCreator button {
    background-color: #9181B3;
    padding: 3px;
    border-radius: 5px;
}

#profileCreator button:hover {
    color: white;
    transform: scale(1.1);
}

.modal {
    background-color: rgba(255, 255, 255, 0.7);
    backdrop-filter: blur(5px);    
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.modal p:hover{
    cursor: pointer;
}

dialog {
    outline: none;
    border: none;
    border-radius: 10px;
}

dialog form {
    display: flex;
    flex-direction: column;
}

dialog form div {
    display: grid;
    grid-template-columns: 100px 200px;
}

dialog form div p {
    grid-column: 1 / 2;
}

dialog form div input {
    grid-column: 2 / 3;
}

#Edit-Modal button {
    background-color: #9181B3;
    margin: 20px;
    border-radius: 5px;
}

.exit {
    background-color: white;
    padding: 5px;
    float: left;
}